
.main-content {
  margin-left: 220px; /* Add enough margin to accommodate the width of the navbar */
  padding: 20px; /* Optional: adds padding for better spacing */
}

/* App.css */
body {
  background-color: #849db9 ; /* Set the default background color */
  color: #f3efe4; /* Set the default font color */
  margin: 0;
  font-family: 'Helvetica' sans-serif; /* Optional: Set a default font */
}
